<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(APP_BUILD)</string>
	<key>GroupID</key>
	<string>$(TeamIdentifierPrefix)ChineseTime</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Open source under GPL v3</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Provide location to calculate local sunrise/set, moonrise/set times. No impact on other functions if you refuse.</string>
	<key>NSLocationUsageDescription</key>
	<string>Provide location to calculate local sunrise/set, moonrise/set times. No impact on other functions if you refuse.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Provide location to calculate local sunrise/set, moonrise/set times. No impact on other functions if you refuse.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>Config</string>
		<string>ConfigurationIntent</string>
	</array>
</dict>
</plist>
