<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CircularIntent</string>
		<string>CurveIntent</string>
		<string>SingleLineIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SourceHanSansKR-Heavy.otf</string>
	</array>
</dict>
</plist>
